---
layout: default
refactor: true
---

{% include lang.html %}

<form id="car-search">

  <h2 class="welcome-text">Welcome to Research the Car!</h2>
  <h4 class="welcome-text">Research the Car helps you find common vehicle issues so you can buy with confidence.</h4>
  <h4 class="welcome-text">Use the dropdowns below to get started.</h4>

    <div class="dropdown-container">
      <select id="year" class="dropdown">
        <option value="">Year</option>
        </select>
      <select id="make" class="dropdown" disabled>
        <option value="">Make</option>
        </select>
      <select id="model" class="dropdown" disabled>
        <option value="">Model</option>
        </select>
    </div>
    <br>
    <div class="button-div">
      <input type="hidden" id="chosen-vehicle">
      <button type="submit" class="submit-button">See Vehicle</button>
    </div>
</form>

<script src="/assets/search.js">
</script>